.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#2f4680 , #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 20px;
}
.search-bar input{
    height: 35px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 10px;
    color: #626262;
    background: #ebfffc;
    font-size: 19px;
}
.search-bar img{
    width: 30px;
    padding: 8px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temprature{
    font-size: 60px;
    color: #fff;
    line-height: 1;
}
.location{
    font-size: 32px;
    color: #fff;
    margin-top: 10px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    font-size: 20px;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}